.header-link{
	color: #d3325f;
	display: inline-block;
	position: absolute;
	top: 5%;
	right: 25%;
	background:#c9c1ac;
	border-radius: 10px;
	transition:  all 2s ease;
	animation: fromBottom;
	animation-duration: 4s;
	animation-iteration-count: infinite;
}
.header-link:hover{
	color: #242424;
}

@keyframes fromBottom {
	0%{
		transform: translateY(-10px);
	}
	50%{
		transform: translateY(10px);
	}
	100%{
		transform: translateY(-10px);
	}
}


@media (max-width: 768px) {
      .header-link{
      	position: absolute;
		top: 90%;
		right: 50%;
      }

}

@media (max-width: 576px) {
     	.header-link{
      	position: absolute;
		top: 80%;
		right: 50%;
      }
}